spring:
  application:
    name: analyzer
  config:
    import: "configserver:"
  cloud:
    config:
      fail-fast: true
      retry:
        use-random-policy: true
        max-interval: 10000
        max-attempts: 20
        initial-interval: 2000
      discovery:
        enabled: true
        serviceId: config-server
eureka:
  instance:
    preferIpAddress: true
    instance-id: "${spring.application.name}:${random.value}"
  client:
    registerWithEureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/