grpc:
  server:
    port: 0

server:
  port: 0

spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: ru.practicum.kafka.serializer.GeneralAvroSerializer
      topic:
        user-actions: stats.user-actions.v1

  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  output:
    ansi:
      enabled: always

logging:
  level:
    org.springframework.cloud.loadbalancer: WARN
    com.netflix.discovery: WARN
    collector: DEBUG