spring:
  application:
    name: event-service
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    loadbalancer:
      retry:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    ru.practicum.ewm.controller: DEBUG
    ru.practicum.ewm.service.EventServiceImpl: DEBUG

    org.springframework.web: DEBUG
    org.springframework.http.converter: DEBUG

    org.springframework.cloud.openfeign: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    com.netflix.loadbalancer: DEBUG

    org.springframework.retry: DEBUG