server:
  port: 9090

spring:
  application:
    name: stats-server

  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: always

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:65432/statsdb
    username: dbuser
    password: 123456

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    ru.practicum.ewm: DEBUG