server:
  port: 0

grpc:
  server:
    enabled: false
    port: 0
  client:
    analyzer:
      address: 'discovery:///analyzer'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    collector:
      address: 'discovery:///collector'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

spring:
  output:
    ansi:
      enabled: always
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6541/event
    username: event
    password: event

logging:
  level:
    root: WARN
    org.springframework.cloud.loadbalancer: WARN
    com.netflix.discovery: WARN
    springframework.cloud.openfeign: WARN
    feign: WARN
    request.service.controller: WARN
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: WARN
    org.springframework.web.servlet.DispatcherServlet: WARN
    event.service: WARN